language: java
sudo: false
install:
  - mvn --settings .travis/settings.xml install -DskipTests=true -Dgpg.skip -Dmaven.javadoc.skip=true -B -V
before_install:
  - if [ ! -z "$GPG_SECRET_KEYS" ]; then echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import; fi
  - if [ ! -z "$GPG_OWNERTRUST" ]; then echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust; fi
addons:
  sonarcloud:
    organization: "sbaudoin-github"
    token:
      secure: "Hqgqu+3flnO+sA71VoMcpA8Uwdkbs+wZAWF30ygvN24Fcc8i6Kh/Iq6UBnCcqIAsNdoxvG8vPYaptgTeadBCiIgqzVsWAZX1Ashlm/mhN8eGXJ8ctAkBYIn0A6zCrDQOAzH9PiOpalOBwPffJctLKING89fz7io9vTn+sqGu5yggsKESjeMM7vS2R5VAYqZrUfS7TJKPCMiXmr9Tnk9f+821hSn6HmP/Sn1E6t35+xsR+Pv2tDWHSKYfB+LUSB/k2T01qBbD5YeURFCKYt4vkcxlt85Q5vIfy518XG+1PwEJVPvFs7iV0SnTsBxtYYs4pY1yAffmkAb8BaPvf+3KdmM7Bl/Vqy3mcZwuO2JfpSwS00htwdZgsYeSQHPEiTbkL+/1lG0gq5wMMyDWti5VTZMDbn+OB1d4Te60BgVrmJhIyB6yxEhxY/YhvM27kqf3th8FW9x7ZxjLma+sG+aqS39YfnNzPOE9rvGqwHWAsLIcQGUCeZikapPhXWKcUFNnvCU51Z2PJ+fjFWP09jr0mAFVbw2nqo3M8Pg21qPvKKLw6ZNqe+vn3B1dMazpC1Yo/FokqAINx7g/+4NU6BzXzamvPo35HUokV66MLFaz5CZoWkMlq1ufvs43mA5aPm92gy9OtM9DaJkfWmpDPgQSOIv7CUxOh8pyUULWNhAORA0="
jdk:
  - oraclejdk8
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
before_deploy:
  - export MAVEN_VERSION=$(grep '<version>' pom.xml | head -1 | sed 's/<\/\?version>//g'| awk '{print $1}')
deploy:
  # Only the master branch is entitled to deployment for snapshots
  - provider: script
    script: mvn --settings .travis/settings.xml deploy -DskipTests=true -B -V
    skip_cleanup: true
    on:
      repo: sbaudoin/yamllint
      branch: master
      condition: $MAVEN_VERSION =~ -SNAPSHOT$
  # Also deploy tags
  - provider: script
    script: mvn --settings .travis/settings.xml deploy -DskipTests=true -B -V
    skip_cleanup: true
    on:
      repo: sbaudoin/yamllint
      tags: true
  - provider: releases
    api_key:
      secure: "XLPQqb794G1PMULyF0L/2OvZV5S+6UNF/HNxnvS3dBr/uPOZsPnG7Uxg+ywEhWzraPCE3G/IEq8iWvxRl3ktpesGDOgoI4FoIYEu97Qf5xQXtxSPqEzc+4MgBl0iqcUMt7YxG5rQiDmHNFYzQ2ZiFMNHNtv9E5ooerjUpt07PkdpnNECMVpMAal8Qu6YBnyNo5Djxff4PlOBVSpJzNlqzxvrCTI1mX3jlG2qwsS0ajl+LkSuSIPHAwAoiAHmU4Iy861wVL2Yiu6IPYcZKTeWgtJ1p3g2EsP/xYZn/1r9lYnSRl84oPcNRWoDsot67J7HR3p7bBquuOcuqj4ccmSOfI27FGTWzSlPQ5aapuafFfbYFFvpxv25/vJ+H2i4r0+xi4pK1fZaXfIPhq3U1UPVN6PZ27JxsNRTht5lmyJ0S2CLUCKwAWv6ck+GAv4/guxEk+AnePkc0SO8lYAh6Can2B76aFrjPd6K5DpnnbphQBeTk35k3k3lWed4LUjFu4Z2jga+1oreWlGO6aagdEkIL0m0khL5NqO2ijHwPzJIQnuJ2qP59XRAyEhAEKD5gURKT61jcrZ3vYbCLhIb2z/bc9CfjuGMVKx1Xm2VSXswCRC0mOvceLcbxOxo6NnU55e4Obvw5j2UIqFSc7Om2iN44g8Wof6MDJysT0LH7ziDoks="
    file_glob: true
    file:
      - target/yamllint-*-distrib.tar.bz2
      - target/yamllint-*-distrib.tar.gz
      - target/yamllint-*-distrib.zip
    skip_cleanup: true
    on:
      repo: sbaudoin/yamllint
      tags: true
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'